body{
font-family: sans-serif;
text-align: center;
background-color: #f7e8e8;
}

img{
  width: 25%;
  border-radius: 50%;
}

h1{


}

h2{
color: #f090d9;
}

.flashy{
font-weight: bold;
color: #ea7dc7;
font-family: serif;
font-style: italic;
animation: blinkingText 0.8s infinite;

}

@keyframes blinkingText {
    0%   {color: #f7e8e8;}
    25%  {color: #f2a2e4;}
    50%  {color: #f090d9;}
    100% {color: #ea7dc7;}

}


.bio{
  text-align: center;
  font-style: italic;


}

em{
color: #ea7dc7;

}

ul{
  padding: 0;
  color: #f2a2e4;


}

ol{
  color: #f2a2e4;
  padding: 0;
  list-style-position: inside;
}

.best{
  background-color: #a773c3;
  margin-left: 30%;
  margin-right: 30%;



}
